.history {
  .history-title {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
  }

  .trigger-button {
    width: 90%;
    margin: 0 auto;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    color: var(--accent-color);
    font-size: 1.2rem;
    transition: all 0.2s;

    &:hover {
      background-color: var(--accent-color);
      color: white;
    }
  }

  .no-history-items {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  .history-list {
    width: 85%;
    margin: 0 auto;

    li {
      margin-bottom: 1rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
      font-size: 1.5rem;

      .history-item-text {
        font-size: 2rem;
        overflow: hidden;
        word-wrap: break-word;
      }

      .completed {
        text-decoration: line-through;
        text-decoration-color: var(--accent-color);
        text-decoration-thickness: 0.2rem;
      }

      .date {
        margin-left: auto;
        font-size: 1.1rem;
        text-wrap: nowrap;

        button {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .history > .history-list > li > .history-item-text {
    font-size: 1.3rem;
  }
}
