* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

:root {
  --background-color: rgb(62, 62, 62);
  --dark-nav-color: rgb(25, 25, 25);
  --accent-color: rgb(255, 39, 39);
  --lighter-blue: rgb(0, 110, 255);
}

body {
  background-color: var(--background-color);
}
button {
  background-color: var(--dark-nav-color);
}
section {
  min-height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.popup-bg {
  background-color: rgba(0, 0, 0, 0.822);
  display: flex;
  align-items: center;
  height: 20vh;
  border-radius: 0.5rem;

  .popup-message {
    font-size: 3rem;
    color: white;
    margin: 3rem;
    text-wrap: nowrap;
  }

  button {
    font-size: 3rem;
    padding: 1rem;
    margin: 2rem;
    border-radius: 0.5rem;
  }
}

.delete-button {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  border: 0px solid;
  flex-shrink: 0;

  i {
    color: var(--accent-color);
    transition: all 0.2s;
  }

  &:hover {
    i {
      color: white;
    }
  }
}
